*{
    box-sizing: border-box;
    margin: 0;
}

body{
font-family: 'Roboto Slab', serif;
/* background-color: black; */
height:5000px;

}

 /* navigation */
 
.nav-container{
    background: #fffffa;
    /* box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1); */
    height: 114px;
}
.wrapper{
    width: 1483px;
    margin: 0 auto;
    /* background-color: red; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 114px;
  }
nav ul{
    display: flex;
}
nav .logo{
width: 114px;
height: 22px;
left: 154px;
top: 60px;
font-family: 'Roboto Slab', serif;
font-weight: bold;
font-size: 17px;
line-height: 22px;
letter-spacing: -0.01em;
color: #161616;

}
.nav-items li {
    list-style: none;
    margin-right: 100px;
  }

.nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
.nav-items li a {
    color:  #161616;;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em;
  }

  /* /* Header-container */

 .header-container{
 /* background: #f5a05c; */
 width: 1240px;
height: 620px;
margin: 0 auto;
margin-top: 120px;
display: flex;
align-items: center;
 }
 header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header h1{
    width: 621px;
    height: 304px;
    left: 221px;
    top: 339px;
    font-family:'Roboto Slab', serif ;
    font-weight: 500;
    font-size: 60px;
    line-height: 117%;  
    letter-spacing: -0.01em;
    color: #161616;  
  }
  header .hero-image img{
    width: 620px;
    height: 620px;
  }

  /*second-container*/
.second-container{

width: 560px;
height: 1814px;
margin: 0 auto;
margin-top: 236px;
/* background-color: gray; */
}
.second-container h1{
width: 560px;
height: 126px;
left: 560px;
top: 1038px;
font-family:'Roboto Slab', serif ;
font-weight: 500;
font-size: 30px;
line-height: 140%;
letter-spacing: -0.01em;
color: #161616;
}

.copy{
font-weight: 500;
font-size: 20px;
line-height: 180%;
letter-spacing: -0.01em;
color: #161616;
margin-top: 80px;
}
.body-image{
width: 560px;
height: 934px;
margin-top: 70px;
}

/* last-container */
.section{
  width: 100%;
  height: 1248px;
  background-color: #161616;
  
}
.last-container{
  width: 1054px;
height: 1010px;
margin: 0 auto;
margin-top: 636px;
padding: 236px 0  224px 0;
/* background-color:green; */

}
.last-container h1{
font-family: 'Roboto Slab', serif ;
font-weight: 500;
font-size: 60px;
line-height: 116%;
letter-spacing: -0.01em;
color: #E2E1E2;
}
.last-copy{
width: 954px;
height: 532px;
margin: 0 auto;
margin-top:200px;
/* background-color: red; */
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 266px;

}
.last-copy p{
font-weight: 500;
font-size: 40px;
line-height: 116%;
letter-spacing: -0.01em;
color: #E2E1E2;

}